# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

############################################
# Terraform
############################################
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
!*.tfvars.example
!*.example.tfvars

# NOTE: do NOT ignore the lock file; it should be committed
# .terraform.lock.hcl

############################################
# AWS / Secrets / Env
############################################
.aws/
.env
.env.*
*.pem
*.key

############################################
# OS / Editor
############################################
.DS_Store
.vscode/
.idea/